.axisTextLeft {
  display: flex;
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 20px;
}

.axisTextRight {
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 15px;
  left: 0;
  right: 0;
  transform: translateY(100%);
}

.axisTextLeft .text {
  writing-mode: vertical-lr;
  transform: rotate(-180deg);
}

.chart {
  width: 100%;
  height: 100%;
  position: relative;
  padding: 0 20px 20px 20px;
}

.chartCanvas {
  position: relative;
  width: 100%;
  height: 100%;
  margin-bottom: 120px;

}


.tooltip {
  transform: translateY(-5px);
  display: flex;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  min-width: 158px;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;


  .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
  }

  .infoColor {
    width: 12px;
    height: 12px;
    margin:  0 6px 0 2px;
    background: red;
  }
  .infoMain{
    display: flex;
    align-items: center;
  }
  .infoName{
    font-size: 12px;
    line-height: 16px;
    color: #84868A;
  }

  .infoScore{
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #000000;
  }
}

.tooltipTitle {
  background: #F4F6F8;
  padding: 8px 4px;
}

