.isBetween{
  background: blue;
}
.isStartDate{
  background: green;
}
.isEndDate{
  background: red;
}

.pickerWrapper{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 8px;
  gap: 8px;

  position: relative;
  width: 624px;

  background: #FFFFFF;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.pickers{
display: flex;
}
