
$font-family: 'Segoe UI Variable', 'Arial', serif;
$text-default-weight: 400;
$text-medium-weight: 500;
$text-semi-bold-weight: 600;

$font-regular-default: $text-default-weight 14px/16px $font-family;
$font-regular-medium: $text-medium-weight 14px/16px $font-family;
$font-regular-semi-bold: $text-semi-bold-weight 14px/16px $font-family;

$font-small-default: $text-default-weight 12px/18px $font-family;
$font-small-medium: $text-medium-weight 12px/18px $font-family;



$white: #ffffff;
$line: #EFF1F2;
$text-gray: #84868A;
$black: #000000;
$primary-blue: #216EF2;
$bg-gray: #F4F6F8;
