$scrollBg: #C1C6CB;

@mixin scrollbars() {
  scrollbar-color: $scrollBg transparent;
  scrollbar-width: thin;
  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-thumb {
    background: $scrollBg;
    border-radius: 14px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  & {
    scrollbar-face-color: $scrollBg;
    scrollbar-track-color: transparent;
  }
}


.select {
  position: relative;
}

.dropdown {
  display: flex;
  max-height: 216px;
  background: #FFFFFF;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  z-index: 999;
  overflow-x: hidden;
  overflow-y: auto;
  flex-direction: column;

  @include scrollbars()
}

.selectedValue {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  border: none;
}


.dropdownItem {
  cursor: pointer;
  padding: 8px 16px;
  background: transparent;
  border: none;

  &.isSelected {
    background: #F4F6F8;
  }
}
