$checkbox-bg-default: white;
$checkbox-border-default: black;


.checkboxWrapper {
  display: flex;
  align-items: center;
  margin-bottom: 10px;

  .checkboxTitle {
    padding-left: 6px;
    text-decoration: underline;
    text-decoration-style: dashed;
  }

  input {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }

  .checkbox {
    cursor: pointer;
    position: relative;
    width: 12px;
    height: 12px;
    border: 1px solid $checkbox-border-default;
    background-color: transparent;

    &.isActive::after,
    &.isIndeterminate::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      width: 14px;
      height: 14px;
      transform: translate(-50%, -50%);
    }

    &.isActive {
      border: 1px solid transparent;
      &::after {
        background: inherit;
        border: 0 solid transparent;
      }

    }

  }
}
