.App {
    font-family: sans-serif;
}

#root {
    z-index: 111;
}

.tooltip {
    position: absolute;
    z-index: 200;
    display: inline-block;
    border-radius: 5px;
    padding: 8px;
    margin: 0;
    background: white;
    transform: translate(-50%, calc(-100% - 8px));
    filter: drop-shadow(0 1px 5px #00000026);


}

.tooltip:after {
    content: " ";
    position: absolute;
    top: 100%;
    left: calc(50% - 8px);
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid white;
    transform: rotate(180deg);
}


.chartWrapper {
    display: flex;
}

.chart {
    width: calc(100% - 150px);
    height: 270px;
    padding-right: 32px;
}

.legend {
    width: 120px;
    font-size: 12px;
}

.axisTextLeft {
    display: flex;
    align-items: center;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 20px;

}

.axisTextRight {
    position: absolute;
    width: 100%;
text-align: center;
    bottom: 15px;
    left: 0;
    right: 0;
    transform: translateY(100%);
}

.axisTextLeft .text {
    writing-mode: vertical-lr;
    transform: rotate(-180deg);
}
