.days-wrap {
  display: flex;
  width: 253px;
  flex-wrap: wrap;

  .day {
    width: 84px;

    &.cellWithinRange {
      background: gray;

      &.selected {
        background: gray;
      }
    }

    &.selected {
      background: red;

    }

    &.hovered {
      background: red;
    }

  }

}

.quarter-wrap {
  display: flex;
  width: 253px;
  flex-wrap: wrap;

  .quarter {
    width: 124px;

    &.cellWithinRange {
      background: gray;
    }

    &.selected {
      background: red;

    }

    &.hovered {
      background: red;
    }

  }

}


.season-wrap {
  display: flex;
  width: 253px;
  flex-wrap: wrap;

  .season {
    width: 100%;

    &.cellWithinRange {
      background: gray;
    }

    &.selected {
      background: red;

    }

    &.hovered {
      background: red;
    }

  }

}


.picker-button {
  display: inline-flex;
  padding: 5px;
  border: 1px solid;
  cursor: pointer;

  .picker-button-start {
    margin-right: 5px;
  }

  .picker-button-end {
    margin-left: 5px;

  }
}

